{% load static from staticfiles %}
<script src="{% static 'constants.js' %}"></script>
<script src="{% static 'jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'project.js' %}"></script>
<script src="{% static 'alertify.js' %}"></script>
<script>
</script>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'project.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="loading displayNone">
    <div class="sk-chasing-dots">
        <div class="sk-child sk-dot1"></div>
        <div class="sk-child sk-dot2"></div>
    </div>
</div>
<div class="login-page">
    <div class="header"></div>
  <div class="form">
    <form class="register-form">
      {% csrf_token %}
        <input type="text" placeholder="name" id="userName" name="userName"/>
        <input type="password" placeholder="password" id="password" name="password"/>
        <input type="password" placeholder="confirm password" id="confirmPassword"/>
        <input type="text" placeholder="email address" id="email" name="email"/>
        <input type="number" placeholder="phone number" id="phone" name="phone"/>
        <input type="hidden" id="version" name="version" value="0.1"/>
        <input type="hidden" id="device" name="device" value="browser"/>
        <button id="createUser">create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
        <input type="hidden" id="statusMessage" value={{statusMessage}}>
        <input type="hidden" id="statusCode" value={{statusCode}}>
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <button id="loginButton">login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>