{% load static from staticfiles %}
<script src="{% static 'jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'project.js' %}"></script>
<script>
</script>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'project.css' %}">
</head>
<div class="login-page">
  <div class="form">
    <form class="register-form" action="/createUser/" method="post">
      {% csrf_token %}
      <input type="text" placeholder="name" id="userName" name="userName"/>
      <input type="password" placeholder="password" id="password" name="password"/>
      <input type="password" placeholder="confirm password" id="confirmPassword"/>
      <input type="text" placeholder="email address" id="email" name="email"/>
      <input type="number" placeholder="phone number" id="phone" name="phone"/>
      <input type="hidden" id="version" name="version" value="0.1"/>
      <input type="hidden" id="device" name="device" value="browser"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>